<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="__STATIC__/css/list.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/css/listType.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h3>主 题 产 品	列	表</h3>
<table cellspacing="1">
    <tr>
        <th style="width:10%;">主 题 名 称</th>
        <th style="width:20%;">主 题 产 品</th>
        <th style="width:10%;">主 题 图 片</th>
    </tr>
    {volist name='themeproduct' id='value'}
    <tr>
        <td>{value.description}</td>
        <td>{value.name}</td>
        <td><img src="__STATIC__/img/{value.url}" alt=""></td>
    </tr>
    {/volist}
</table>
{$page}
</body>
</html>